@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid row" style="height : auto">
        <div class="col-lg-4" id="avatar">

        </div>
        <div class="col-lg-8 bg-info text-left text-white" id="description">

        </div>
    </div>
    <h2>Repositories</h2>
    <div class="row container-fluid" id="RepoCards">

    </div>
</div>
<div id="commits" class="container-fluid">

</div>

